<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/found" method="POST">
      <h2>Ingresa clave de escuela</h2>
      <input type="text" name="curp" id="">
      <input type="button" name="Submit" value="Enviar" onclick="submit()">
    </form>
  </body>
</html>
